<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>FootballBet</title>

    <!-- Bootstrap core CSS-->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css"/>

    <!-- Page level plugin CSS-->
    <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet"/>

    <!-- Custom styles for this template-->
    <link href="css/sb-admin.css" rel="stylesheet"/>

</head>


<body id="page-top">


<header class="site-navbar absolute transparent" role="banner" th:fragment="topbar">
    <div class="py-3">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-6 col-md-3">
                    <a href="/home"><img src="img/icons8-the-premier-league-500.png" style="height:100px" alt="" ></a>
                    <a href="https://www.linkedin.com/in/marek-jastrzebski-6a90399a/" class="text-secondary px-2"><span class="icon-linkedin"></span></a>
                    <a href="https://github.com/marek-bm" class="text-secondary px-2"><span class="icon-github"></span></a>
                </div>
                <div class="col-6 col-md-9 text-right">
                    <div class="d-inline-block"><a href="#" class="text-secondary p-2 d-flex align-items-center"><span class="icon-envelope mr-3"></span> <span class="d-none d-md-block">marek.jastrzebski@outlook.com</span></a></div>
                </div>
            </div>
        </div>
    </div>

    <nav class="site-navigation position-relative text-right bg-black text-md-right" role="navigation">
        <div class="container position-relative">
            <div class="d-inline-block d-md-none ml-md-0 mr-auto py-3">

                <a href="#" class="site-menu-toggle js-menu-toggle text-white">
                    <span class="icon-menu h3"></span></a>
            </div>

            <ul class="site-menu js-clone-nav d-none d-md-block">


                <li><a href="/">Welcome</a></li>
                <li class="has-children active">
                    <a href="/account">User</a>

                    <ul class="dropdown arrow-top" sec:authorize="isAuthenticated()">
                        <li><a th:href="@{/account}">Profile</a></li>
                        <li><a th:href="@{/mycoupons}">Bets</a></li>
                        <li><a th:href="@{/wallet}">Wallet</a></li>
                        <li><a th:href="@{/logout}">Logout</a></li>
                    </ul>


                    <ul class="dropdown arrow-top" sec:authorize="isAnonymous()">
                        <li><a th:href="@{/login}">Login</a></li>
                        <li><a th:href="@{/register}">Register</a></li>
                        <li><a th:href="@{/forgot-password}">Forgot Password</a></li>
                    </ul>

                </li>

                <li class="has-children">
                    <a href="#">Events</a>
                    <ul class="dropdown arrow-top">
                        <li><a href="/active">Active</a></li>
                        <li><a href="/fixture-finished">Finished</a></li>
                    </ul>
                </li>

                <li><a href="/table">Table</a></li>
                <li><a href="/instruction">How to bet?</a></li>
                <li><a href="/about-me">About me</a></li>
                <li><a href="/contact">Contact</a></li>

            </ul>


        </div>
        </div>
    </nav>

</header>

</body>
</html>