<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>

<head th:replace="fragments/header :: header">

</head>
<body>


<nav th:replace="fragments/topbar :: topbar"></nav>

<table>
    <tr>
        <td>
            <a th:href="@{/home}">Home</a>
        </td>
</table>

    <ul class="sidebar navbar-nav" th:replace="fragments/sidebar :: sidebar"></ul>

<table class="table">

    <tr>
        <td>Category: </td>
        <!--<td>Country:</td>-->
        <td>League:</td>
        <td>Teams:</td>
        <td>Matchday:</td>
        <td>Half Time Result:</td>
        <td>Final Time Result:</td>
        <td>Bet placed:</td>
        <td> Winning combination:</td>
        <td>Status:</td>
    </tr>


    <tr th:each="bet: ${bets}">
        <td th:text="${bet.event.category.name}"></td>
        <!--<td th:text="${bet.event.country.countryName}"></td>-->
        <td th:text="${bet.event.league.name}"></td>
        <td th:text="|${bet.event.homeTeam.name} v ${bet.event.awayTeam.name}|" ></td>
        <td th:text="|Nr: ${bet.event.matchday} played on: ${bet.event.Date}|"></td>
        <td th:text="|${bet.event.HTHG} : ${bet.event.HTAG}|"></td>
        <td th:text="|${bet.event.FTHG} : ${bet.event.FTAG}|"></td>


        <td th:if="${bet.placedBet.startsWith('H')}" th:text="'1'"></td>
        <td th:if="${bet.placedBet.startsWith('D')}" th:text="'X'"></td>
        <td th:if="${bet.placedBet.startsWith('A')}" th:text="'2'"></td>
        <td th:if="${bet.placedBet.startsWith('LT2_5')}" th:text="'<2.5'"></td>
        <td th:if="${bet.placedBet.startsWith('GT2_5')}" th:text="'>2.5'"></td>


        <div th:switch="${bet.event.FTR}">
            <td th:case='null' th:text="'active'"> </td>
            <td th:case="H" th:text="'1'"></td>
            <td th:case="${bet.event.FTR.startsWith('D')}" th:text="'X'"></td>
            <td th:case="${bet.event.FTR.startsWith('A')}" th:text="'2'"></td>
            <td th:case="${bet.event.FTR.startsWith('LT2_5')}" th:text="'<2.5'"></td>
            <td th:case="${bet.event.FTR.startsWith('GT2_5')}" th:text="'>2.5'"></td>
        </div>

        <div th:switch="${bet.event.FTR}">
            <td th:case='null' th:text="'active'"> </td>
            <td th:case='!null' th:if="${bet.won==true}" th:text="'won'"> </td>
            <td th:case='!null' th:if="${bet.won==false}" th:text="'won'"> </td>
        </div>

   </tr>


</table>

</body>
</html>