<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>

<head th:replace="fragments/header :: header">

</head>

<body id="page-top">

<nav th:replace="fragments/topbar :: topbar"></nav>

<div id="wrapper">

    <ul class="sidebar navbar-nav" th:replace="fragments/sidebar :: sidebar"></ul>

    <div id="content-wrapper" width="70%">

        <h1>Welcome to sport bets</h1>


        <table class="table-responsive-sm" width="100%">
            <tr>

                <td width="70%">
                    <div th:replace="results-active :: active"/>
                </td>

                <td width="110%">
                    <div th:include="coupon::coupon"></div>
                </td>

            </tr>
        </table>


    </div>
</div>

<div th:include="fragments/footer :: footer"></div>


</body>
</html>