<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: header"></head>

<body id="page-top">
<nav th:replace="fragments/topbar :: topbar"></nav>
<div id="wrapper">
    <div id="content-wrapper">
        <div class="container-fluid">
            <!--<div class="main-content">-->
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-8" th:replace="results-active::active"></div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <h4>Coupon</h4>
                        </div>
                        <div class="card-body">
                            <small>
                                <table class="table-responsive-sm" style="width: auto">
                                    <tr>

                                        <td>
                                            <div th:include="coupon::coupon"></div>
                                            <p style="color:red;" th:text="${error}"></p>
                                        </td>
                                    </tr>
                                </table>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="fragments/footer :: footer"></div>

</body>
</html>