<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<div th:fragment="tab">

<table>
    <thead>
    <tr>
        <th> # </th>
        <th width="200"> Team </th>
        <th width="50"> P </th>
        <th width="50"> Pts </th>
        <th width="50"> GD </th>
        <th width="50"> W </th>
        <th width="50"> D </th>
        <th width="50"> L </th>

    </tr>
    </thead>

    <tr th:each="result, iterationStatus: ${seasonResults}">
        <td th:text="${iterationStatus.count}">  </td>
        <td th:text="${result.team.name}">  </td>
        <td th:text="${result.getPlayedGames()}">  </td>
        <td th:text="${result.points}">  </td>
        <td th:text="${result.goalsScoredAway+ result.getGoalsScoredHome()-result.getGoalsLostAway()-result.getGoalsLostHome()}">  </td>
        <td th:text="${result.getWins()}">  </td>
        <td th:text="${result.getDraws()}"> </td>
        <td th:text="${result.getLost()}"> </td>

    </tr>


</table>

</div>

</body>
</html>