<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="fragments/header :: header">

</head>
<body id="page-top">

<nav th:replace="fragments/topbar :: topbar"></nav>

<div id="wrapper">
    <div id="content-wrapper" th:fragment="tab">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-8 offset-sm-2">
                    <div class="card">
                        <div class="card-header">
                            <h4> Premier League table </h4>
                        </div>
                        <div class="card-body">
                            <div class="statistic-details mt-sm-4">
                                <div class="statistic-details-item">
                                    <small>
                                        <table class="table table-responsive-sm table-hover table-striped"
                                               cellspacing="0">
                                            <thead>
                                            <tr>
                                                <th> #</th>
                                                <th> Team</th>
                                                <th> P</th>
                                                <th> Pts</th>
                                                <th> GD</th>
                                                <th> W</th>
                                                <th> D</th>
                                                <th> L</th>
                                            </tr>
                                            </thead>
                                            <tr th:each="standing: ${apiTable}">
                                                <td th:text="${standing.getPosition()}"></td>
                                                <td th:text="${standing.getTeam().getName()}"></td>
                                                <td th:text="${standing.getPlayedGames()}"></td>
                                                <td th:text="${standing.getPosition()}"></td>
                                                <td th:text="${standing.getGoalsDifference()}"></td>
                                                <td th:text="${standing.getWon()}"></td>
                                                <td th:text="${standing.getDraw()}"></td>
                                                <td th:text="${standing.getLost()}"></td>
                                            </tr>
                                        </table>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4"></div>
            </div>
        </div>
    </div>
</div>

<div th:include="fragments/footer :: footer"></div>

</body>
</html>